body {
  background-color: white;
}

h1 {
  color: black;
  font-family: helvetica, sans-serif;
  text-align: center;
}

a:link, a:visited {
  font-family: helvetica, sans-serif;
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
  color: white;
}
